.chat-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

.card-header {
  width: 700px;
  max-width: 1000px;
}

.card-style {
  margin-top: 50px;
  max-width: 1000px;
}
